 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body{
      background:#111b21;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
    }

.container{
  width:auto;
  height:700px;
  display:flex;
  justify-content:center;
  color: white;
  
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* LEFT SIDEBAR */

.sidebar{
  width:420px;
  background:#202c33;
  border-radius:20px 0px 0px 20px;
  border-right:1px solid #2f3b43;
  display:flex;
  align-items: center;
  flex-direction:column;
}

.sidebar-header{
  background:#202c33;
  padding:20px;
  color:white;
  font-size:18px;
  font-weight:bold;
}

.search-box{
  padding:15px;
  border-bottom:1px solid #2f3b43;
}

.search-box form{
  display:flex;
  gap:8px;
}

.search-box input{
  flex:1;
  padding:12px;
  border:none;
  outline:none;
  border-radius:8px;
  background:#2a3942;
  color:white;
  font-size:14px;
}

.search-box button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#25d366;
  color:white;
  cursor:pointer;
}

.search-results{
  flex:1;
  overflow-y:auto;
}

.user-card{
  padding:15px;
  display:flex;
  align-items:center;
  gap:12px;
  cursor:pointer;
  border-bottom:1px solid #1f2c34;
  transition:0.2s;
}

.user-card:hover{
  background:#202c33;
}

.user-avatar{
  width:45px;
  height:45px;
  border-radius:50%;
  background:#25d366;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-weight:bold;
}

.user-details h4{
  color:white;
  font-size:15px;
}

.user-details p{
  color:#8696a0;
  font-size:13px;
  margin-top:3px;
}

    .chat-container{
      width:380px;
      height:700px;
      background:#0b141a;
      border-radius:0px 20px 20px 0px;
      overflow:hidden;
      display:flex;
      flex-direction:column;
      box-shadow:0 10px 30px rgba(0,0,0,0.4);
    }

    /* HEADER */

    .chat-header{
      background:#202c33;
      padding:15px;
      display:flex;
      align-items:center;
      gap:12px;
      border-bottom:1px solid #2f3b43;
    }

    .avatar{
      width:45px;
      height:45px;
      border-radius:50%;
      background:#25d366;
      display:flex;
      align-items:center;
      justify-content:center;
      color:white;
      font-weight:bold;
      font-size:18px;
    }

    .user-info h3{
      color:white;
      font-size:16px;
    }

    .user-info p{
      color:#9aa5ad;
      font-size:13px;
      margin-top:3px;
    }

    /* CHAT AREA */

    .chat-box{
      flex:1;
      padding:15px;
      overflow-y:auto;
      display:flex;
      flex-direction:column;
      gap:10px;
      background-color: #0b141a;
    }

    .message{
      max-width:75%;
      padding:10px 12px;
      border-radius:12px;
      position:relative;
      word-wrap:break-word;
      animation:fadeIn 0.2s ease;
    }

    .received{
      background:#202c33;
      color:white;
      align-self:flex-start;
      border-bottom-left-radius:4px;
    }

    .sent{
      background:#005c4b;
      color:white;
      align-self:flex-end;
      border-bottom-right-radius:4px;
    }

    .time{
      display:block;
      font-size:11px;
      color:#c7d1d6;
      margin-top:5px;
      text-align:right;
    }

    /* INPUT AREA */

    .chat-input{
      background:#202c33;
      padding:12px;
      display:flex;
      gap:10px;
      align-items:center;
    }

    .chat-input input{
      flex:1;
      padding:12px;
      border:none;
      outline:none;
      border-radius:25px;
      background:#2a3942;
      color:white;
      font-size:14px;
    }

    .chat-input button{
      width:50px;
      height:50px;
      border:none;
      border-radius:50%;
      background:#25d366;
      color:white;
      font-size:20px;
      cursor:pointer;
      transition:0.2s;
    }

    .chat-input button:hover{
      transform:scale(1.05);
    }

    /* SCROLLBAR */

    .chat-box::-webkit-scrollbar{
      width:6px;
    }

    .chat-box::-webkit-scrollbar-thumb{
      background:#3b4a54;
      border-radius:10px;
    }

    @keyframes fadeIn{
      from{
        opacity:0;
        transform:translateY(10px);
      }
      to{
        opacity:1;
        transform:translateY(0);
      }
    }

    .modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
}

.modal-content{
  width:400px;
  background:white;
  margin:100px auto;
  padding:20px;
  border-radius:10px;
}

.user-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  border-bottom:1px solid #ddd;
}

.chat-image{
    width:200px;
    max-height:250px;
    object-fit:cover;
    border-radius:10px;
    display:block;
    margin-top:8px;
}

.ai-suggestions,
.smart-replies {
  display: flex;
  gap: 8px;
  padding: 10px;
  flex-wrap: wrap;
}

.ai-suggestions button,
.smart-replies button {
  border: none;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
  background: #e9ecef;
}

.ai-suggestions button:hover,
.smart-replies button:hover {
  background: #d6d8db;
}
   